<nav role="navigation" class="navbar navbar-default">
  <span class="pull-left title-script text-shadow"><%= link_to "Eventation", root_path %></span>
  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <%= link_to 'All Events', events_path, :class => 'navbar-link' %> |
      <%= link_to 'Create Event', new_event_path, :class => 'navbar-link' %> |
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %><br>
      <span class="pull-right">Logged in as <strong><%= current_user.email %></strong>.</span>
    <% else %>
      <%= link_to 'All Events', events_path, :class => 'navbar-link' %> |
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </p>
</nav>
