<div class="container">
  <h2 class="script text-shadow pull-left">Past Events - 
    <%= link_to "View Upcoming Events", events_path, :class => "upcoming-past-link" %></h2> 
  <div class="pagination-box">
    <%= will_paginate @events, renderer: BootstrapPagination::Rails  %>
  </div>
  <div class="clearfix"></div>
  <% @events.each do |event| %>
    <% if event.start_date.to_date < Date.today %>
      <div class="col-md-3 event-list-tile">
        <p><h4 class="text-shadow"><%= event.title %></h4></p>
        <p><%= event.description %></p>
        <p>Date: <%= event.start_date.to_date %></p>
        <p>Start Time: <%= event.start_date.strftime("%l:%M%P") %></p>
        <% if user_signed_in? %>
          <p class="navbar-btn pull-left">
            <%= link_to  "View Past Event", Event.find(event.id), :class => "btn btn-info"  %> 
          </p> 
        <% else %> 
          <p class="navbar-btn pull-left">
            <%= link_to  "Login to Reserve", new_user_session_path, :class => "btn btn-warning"  %>
          </p> 
        <% end %>
        <p></p>
      </div> 
    <% end %>
  <% end %>
  <div class="clearfix"></div>
  <div class="pagination-box">
    <%= will_paginate @events, renderer: BootstrapPagination::Rails  %>
  </div>
</div>
