<div class="container">
  <%= image_tag @event.event_pic.url(:large), :class => "img-responsive" %>
  <h1 class="title-script text-shadow"><%= @event.title %></h1>  
  <h4><%= @event.start_date.strftime("%A, %B%e") %></h4>
  <h3><%= @event.description %></h3>
  <% if @event.user_id == current_user.id %>
    <p class="navbar-btn pull-left">
      <%= link_to  "Invite People", new_user_session_path, 
        :class => "btn btn-success"  %>
    </p> 
  <% else %>
    <p class="navbar-btn pull-left">
      <%= link_to  "Reserve Your Spot", new_user_session_path, 
        :class => "btn btn-success"  %>
    </p> 
  <% end %>

  </div>
