<!DOCTYPE html>
<html>
  <%= render "shared/head" %>
  <body>

    <%= render "shared/nav" %>
    
    <%= render "shared/alert" %>

    <%= yield %>

    <%= render "shared/footer" %>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
